{% extends 'template.twig' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <p align="center" class="about-text">COMPUTER SKILLS</p>
      <div class="element-text">
      <h2 class="element-title"><span class="number">1</span> Sistemas Operacionais</h2>
      <h3 class="element-about">Abaixo uma pequena lista dos Sistemas Operacionais que estão no meu currículo:</h3>
      <h3 class="element-about">Windows XP, Windows 7, Windows 8, Windows 10, Windows Server 2003, Windows Server 2008, Linux/Ubuntu/Fedora.</h3>
      </div>
      <div class="element-text">
      <h2 class="element-title"><span class="number">2</span> Software</h2>
      <h3 class="element-about">Abaixo uma pequena lista dos Softwares que eu uso e domino:</h3>
      <h3 class="element-about">MS Excel, MS Word, Internet Explorer, SQL Server, MySql, IIS, PowerPoint.</h3>
      </div>
      <div class="element-text">
      <h2 class="element-title"><span class="number">2</span> Linguagens de Programação e Frameworks</h2>
      <h3 class="element-about">Abaixo uma pequena lista das Linguagens e Frameworks que uso, e que estão disponiveis no meu curriculo:</h3>
      <h3 class="element-about">HTML5, CSS3, JavaScript, PHP, Silex, Twig, C, C#, Java, SQL, Bootstrap. </h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
